* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
    font-family: Montserrat;
    font-size: 14px;
    color: white;
}

img {
    max-width: 100%;
}

.wrapper {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 66px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;

    &__button {
        font-family: Crimson Pro;
        font-weight: 200;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        padding: 8px 9px;
    }

    &__menu-icon {
        display: grid;
        place-items: center;
        height: 30px;
        width: 35px;
        cursor: pointer;
        z-index: 2;

        &>span {
            width: 35px;
            height: 3px;
            background: white;
            display: block;
            transition: all 0.3s ease-in-out;
        }

        &.active span:nth-child(1) {
            transform-origin: center center;
            transform: rotate(-45deg) translate(-9px, 6px);
            width: 35px;
        }

        &.active span:nth-child(2) {
            transform: translateX(10px);
            opacity: 0;
        }

        &.active span:nth-child(3) {
            transform-origin: center center;
            transform: rotate(45deg) translate(-9px, -6px);
            width: 35px;
        }
    }

    & .nav-menu {
        display: none;
        height: 100%;
        width: 0;
        background: #181719;

    }

    & .nav-menu.nav-menu--active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: black;
    }

    & .nav-menu__list {
        list-style: none;
        padding-inline-start: 0px;
        text-align: center;

    }

    & .nav-menu__item {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 30px;
    }

    & .nav-menu__link {
        color: #fff;
        text-decoration: none;

        &.nav-menu__link--1 {
            font-weight: bold;
        }
    }

}

.lead {
    &__h2 {
        font-family: Lora;
        font-style: normal;
        font-size: 36px;
        margin-bottom: 25px;
    }

    &__paragraph {
        font-weight: 200;
        max-width: 75%;
        margin-bottom: 25px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 25px;
    }
}

.content {
    // min-height: calc(100vh - 351px - 66px);
    flex-grow: 1;
}

.portfolio {
    position: relative;

    &__image {}

    &__img {
        max-width: 100%;
    }

    &__info-block {
        position: absolute;
        bottom: -82px;
        right: 16px;
        background-color: black;
        padding: 18px 70px 25px 18px;
        width: 300px;
    }

    &__author-block {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__author-img {
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }

    &__author-info {
        margin-left: 15px;
    }

    &__author-name,
    &__author-profession {
        display: inline-block;

    }

    &__author-name {
        font-size: 13px;
        font-weight: 500;
    }

    &__author-profession {
        font-size: 11px;
        font-weight: 200;
    }

    &__heading {
        font-family: Lora;
        font-weight: bold;
        font-size: 18px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 138px;
    padding: 24px 0;
    position: relative;

    &__author-info {
        color: #A9A9A9;

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            margin-right: auto;
            margin-left: auto;
            border-top: 1px solid #A9A9A9;
            width: 80%;
            height: 20px;
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        margin: 42px 77px;
        max-width: 1440px
    }

    .header {
        margin-bottom: 160px;

        &__menu-icon {
            display: none;
        }

        & .nav-menu {
            display: flex;
            align-items: center;
            height: auto;
            width: auto;

            &__list {
                display: flex;
            }

            &__item {
                padding-bottom: 0;
                margin-right: 86px;
                font-weight: 500;

                &.nav-menu__item--last {
                    margin-right: 0;
                }
            }
        }

    }



}

@media (min-width: 1200px) {
    .wrapper {
        margin: 42px auto;
        padding: 0 77px;
    }

    .content {
        display: flex;
        flex-grow: 0;
    }
}