html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #4E5150;
}

.wrapper {
  margin: 32px 12px 0 12px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-heading {
  color: #4E5150;
  font-size: 24px;
  margin-bottom: 20px;
}

.checkout {
  background: #F2F2F2;
  border-radius: 12px;
  padding: 30px 25px 20px 25px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .checkout {
    max-width: 383px;
  }
}

.checkout__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.checkout__img {
  width: 55%;
  margin-right: 20px;
}

.checkout__body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "subtitle subtitle" "price price--old" "amount amount";
  -ms-grid-rows: min-content min-content 1fr;
      grid-template-rows: -webkit-min-content -webkit-min-content 1fr;
      grid-template-rows: min-content min-content 1fr;
  grid-gap: 10px;
}

.checkout__subtitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtitle;
  font-size: 12px;
}

.checkout__price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: price;
  color: #F2994A;
}

.checkout__price--old {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: price--old;
  font-size: 10px;
  color: #4E5150;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.items-amount {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: amount;
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: center;
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-amount__minus {
  background: #E0E0E0;
  border-radius: 4px;
  padding: 9px;
}

.items-amount__number {
  font-size: 16px;
  color: #333333;
  margin: 0px 20px 0px 20px;
}

.shipping-cost,
.cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 20px;
  color: #333333;
}

.shipping-cost::after,
.cart-summary::after {
  content: "";
  border: 1px solid #BDBDBD;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
}

.shipping-cost {
  margin-top: 86px;
}

.form__heading {
  color: #333333;
  margin-bottom: 12px;
}

.form__container {
  margin-bottom: 17px;
}

.form__input {
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  text-indent: 40px;
  margin-top: 5px;
  color: #828282;
}

.form__label {
  font-size: 10px;
  color: #4F4F4F;
  margin-bottom: 5px;
}

.input-container {
  position: relative;
}

.material-icons {
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #828282;
}

.form__container--margin {
  margin-right: 20px;
  width: 50%;
}

.checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.checkbox__title {
  color: #4F4F4F;
  font-size: 10px;
}

.button {
  display: block;
  margin-left: auto;
  background: #F2994A;
  border-radius: 12px;
  width: 166px;
  height: 54px;
  margin-top: 20px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}

.footer {
  margin-top: 99px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  color: #A9A9A9;
  font-size: 14px;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */